@media screen and (min-width: 1999px) {
  body {
    max-width: 1330px;
    margin: 0 auto;
  }

  header {
    .header-block {
      justify-content: center;
    }
  }

  .burger-hide {
    display: none;
  }
}
@media screen and (max-width: 1999px) {
  .burger-hide {
    display: none;
  }
}
