main {
  .about-home {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    gap: 7.3rem;

    .about-img {
      img {
        max-width: 39rem;
      }
    }

    .about-text {
      h3 {
        font-size: 5.4rem;
        font-weight: 400;
        color: #191919;
        line-height: 61.99px;
        margin-bottom: 1.9rem;
      }

      p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #605e5d;
        line-height: 30.01px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  main {
    .about-home {
      flex-direction: column-reverse;

      .about-img {
        img {
          width: 100%;
          max-width: 600px;
          height: auto;
        }
      }

      .about-text {
        h3 {
          line-height: normal;
        }
        p {
          line-height: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    .about-home {
      margin-top: 5rem;
      margin-bottom: 5rem;

      .about-text {
        h3 {
          font-size: 4.4rem;
        }

        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 566px) {
  main {
    .about-home {
      margin-top: 3rem;
      margin-bottom: 3rem;

      .about-text {
        h3 {
          font-size: 3.4rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
